html {
    background-color: #d7d2cb;
}

ul {
    text-align: center;
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 20px;
    background-color: #fafaf0;
    padding: 4px;
    text-align: center;
    color: #aaaaaa;
    border: 2px;
}

a {
    border-color: #aaaaaa;
    text-decoration: none;
}

