html {
    background-color: #d7d2cb;
}

ul {
    text-align: center;
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 20px;
    background-color: #fafaf0;
    padding: 4px;

}


