body {
    background-color: #36486b;
    font-family: Georgia, Times, serif;
}

#navbar {
    background-color:#fefbd8;
    padding: 15px;
    margin: 12px 30px;
    color: #618685;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    color: #36486b;
}

section {
    background-color: #618685;
    margin: 15px auto;
    width: 60%;
    border: 8px;
    padding: 15px
}



