body {
    background-color: #36486b;
    font-family: Georgia, Times, serif;
}

#navbar {
    background-color:#fefbd8;
    padding: 15px;
    margin: 8px 30px;
    color: #618685;
}

a {
    text-decoration: none;
    padding: 20px;
}

section {
    background-color: #618685;
}


