body {
    background-color: #36486b;
    font-family: Georgia, Times, serif;
}

#navbar {
    background-color:#fefbd8;
    padding: 15px;
    margin: 25px 120px;
    color: #618685;
    text-align: center;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    color: #36486b;
}

section {
    background-color: #618685;
    margin: 15px auto;
    max-width: 850px;
    border: 8px;
    padding: 15px
}

#bird h1 h2 h4 {
    text-align: center;
}

img {
    width: 500px;
    height: 420px;
    margin: auto;
}


